/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

/* Submit Page Styles */
.submitPage {
    width: 100%;
    background-color: #EBE9E6;
    margin: auto;
    padding-top: 103px;
    padding-bottom: 428px;
}

/* Submit Page Inner Container */
.submitPage1 {
    background-color: #F9F7F2;
    width: 705px;
    margin: auto;
    padding: 60px 0px 75px 0px;
}

/* Image Box Styles */
.image-box {
    width: 28px;
    margin: auto;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

/* Image Styles */
.image {
    width: 100%;
    border-radius: 50%;
}

/* Content Box Styles */
.content-box {
    width: 319px;
    margin: 22px auto 0;
}

/* Content Section 1 */
.content1 {
    
        width: 100%;
        justify-content: center;
        font-size: 24px;
        padding: 0 20px;
        color: #1F1E1C;
        font-weight: 600;
    }
.content2 {
    width: 319px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: 36px;
    font-size: 14px;
    font-family: Inter;
}

/* Content Section 3 */
.content3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    padding:0px 20px;
    font-style: normal;
    font-weight: 400;
}
.ScoresDiv {
    width: 235px;
    margin: 98px auto 0px auto;
    border-radius: 6px; 
    border: 2px solid #F4D150;
    background: #FEEEB4;
    padding: 16px 35px; 
    box-shadow: 0px 4px 7px 0px #B3AE9C;
}

.ScoreAtag {
    text-decoration: none;
    color: #1F1E1C;
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}



/* Responsive Design */
@media (max-width: 700px) {
    .submitPage {
        padding: 54px 20px 75px;
    }

    .submitPage1 {
        width: 100%;
    }

    .content-box {
        width: 100%;
        margin: 0;
    }

    .content1 {
        width: 100%;
        text-align: center;
        font-size: 24px;
        padding: 0 20px;
        color: #1F1E1C;
    }

    .content2{
        width: 100%;
        margin: 0 auto;
        margin-top: 36px;
        padding: 0 20px;
        font-weight: 600px;
    }

    .content3 {
        width: 100%;
        margin: 0 auto;
        margin-top: 12px;
        padding: 0 20px;
        font-weight: 400;
    }

    .image-box {
        width: 93px;
    }

    .image {
        width: 100%;
    }
}
