* {
    margin: 0;
    padding: 0;
}
.FilterBtn{
    display:none;
    
}

@media (max-width: 700px) {
    .FilterBtn{
        display: flex;
        margin-top:15px;
        justify-content: space-between;
        width: 115px;
        padding: 10px 12px 10px 0px;
        margin-top:26px;
        border-radius: 5px;
        margin-right:19px;
        background-color: #FCFAFA;
        
    }
    .FilterBtn1{
        /* border: solid red 1px; */
        width:60px;
        text-align: center;
        font-size: 14px;
        font-weight:bold ;
    }
    .FilterImg{
        /* border: solid red 1px; */
        width:25px;
        margin-left:8px;
        color:#4C4B49;
    }
    .Div1{
        border: solid 1px #777671;
        width:22px;
        margin-top:5px;
    }
    .Div2{
        border: solid 1px #777671;
        width:17px;
        margin-top:4px;
        margin-left:2px;
    }
    .Div3{
        border: solid 1px #777671;
        width:12px;
        margin-top:4px;
        margin-left:5px;
    }
}