.pagination{
    justify-content: center;
    align-items: center;
    margin:auto;
    gap:21px;
} 
.pagination_button {
    height:30px;
    width:30px;
    font-size: 19px;
    border: 2px solid #E0DFDA;  
    text-align: center;
    border-radius: 50%;
    background-color: #F4D150;
}
.pageDiv1 {
    width: 30px;
    height:30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #E0DFDA;
    background-color: black;
    color: white;
    font-size: 17px;
}
.pageDiv2 {
    height:30px;
    text-align: center;
    width: 30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;
}
    /* padding: 7px 10px 6px 10px; */
    

.pageDiv3 {
    width:30px;
    text-align: center;
    height:30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;
}
    /* padding: 4px 10px 4px 10px; */

.pageDiv4 {
    width:30px;
    text-align: center;
    height:30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;

    /* padding: 4px 10px 4px 10px; */
}
.pageDiv5 {
    width:30px;
    text-align: center;
    height:30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;

    /* padding: 4px 10px 4px 10px; */
}
.pageDiv6{
    width:30px;
    text-align: center;
    height:30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;
    /* padding: 4px 10px 4px 10px; */
}
.pageDiv7 {
    width:30px;
    text-align: center;
    height:30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;
    /* padding: 4px 10px 4px 10px; */
}
.pageDiv8 {
    width:30px;
    text-align: center;
    height:30px;
    border: 2px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 17px;
    /* padding: 4px 10px 4px 10px; */
}
.pageDiv{
    /* border:solid red 1px; */
    display:none;
}

@media (max-width: 700px) {
    .paginationBox{
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
        padding: 20px 19px 24px;
        /* border:solid 1px #FCFAFA; */
    }
    
    .pageDiv1{
        background-color: white;
        color:black;
    }
    .pageDiv2{
        display:none;
    }
    .pageDiv3{
        display:none;
    }
    .pageDiv4{
        display:none;
    }
    .pageDiv5 {
        background-color: black;
        color:white;
    }

    .pageDiv6{
        display:none;
    }
    .pageDiv7{
        display:none;
    }
    .pageDiv{
        display:block;
    }
}