.pagination{
    justify-content: center;
    align-items: center;
    margin:auto;
    gap:21px;
} 
.pagination_buttonleft {
    line-height:28px;
    width:28px;
    border: 1px solid #EBE9E6;  
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    background-color: #EBE9E6;
}
.pagination_buttonright {
    line-height:28px;
    width:28px;
    font-size: 18px;
    border: 1px solid #F4D150;  
    text-align: center;
    border-radius: 50%;
    background-color: #F4D150;
}
.pageDiv1 {
    width: 30px;
    line-height:30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #4C4B49;
    background-color: #4C4B49;
    color: white;
    font-size: 14px;
}
.pageDiv2 {
    line-height:30px;
    text-align: center;
    width: 30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;
}
    
.pageDiv3 {
    width:30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;
}

.pageDiv4 {
    width:30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;

}
.pageDiv5 {
    width:30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;
}
.pageDiv6{
    width:30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;
}
.pageDiv7 {
    width:30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;
}
.pageDiv8 {
    width:30px;
    text-align: center;
    line-height:30px;
    border: 1px solid #E0DFDA; 
    border-radius: 50%;
    font-size: 14px;
}
.pageDiv{
    display:none;
}

@media (max-width: 700px) {
    .paginationBox{
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
        padding: 20px 19px 24px;
        width:100%;
    }
    
    .pageDiv1{
        background-color: white;
        border: solid 1px #E0DFDA;
        color:black;
    }
    .pageDiv2{
        display:none;
    }
    .pageDiv3{
        display:none;
    }
    .pageDiv4{
        display:none;
    }
    .pageDiv5 {
        background-color: black;
        color:white;
    }

    .pageDiv6{
        display:none;
    }
    .pageDiv7{
        display:none;
    }
    .pageDiv{
        display:block;
    }
}