*{
  margin: 0;
  padding: 0;
}
.main-container{
  padding: 55px 0px 143px 0px;
  background-color: #EBE9E6;
}
.header {
  width:100%;
  padding: 18px 18px;
  justify-content: center;
  text-align: center;
}
.logo1 {
  height: 36px;
}

/*assessment_ruls componenet CSS*/

.test {
  font-family: Inter;
  font-size: 20px;
  width: 184px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 19px;
  background-color: #EBE9E6;
}
.rulessection {
  width:705px;
  background-color:#F9F7F2;
  margin: auto;
  padding-top: 40px;
}
.test1{
  width:472px;
  margin:auto;
  font-family: Inter;
  background-color: #F9F7F2;
}
.box {
  width:472px;
  font-size: 18px;
  font-weight: 700;
  font-family: Inter;
}
.main-box {
  width:472px;
  margin-top:5px;
  font-family: Inter;
  font-size: 14px;
  line-height: 150%;
}
.main-box1 {
  width:472px;
  margin-top:8px;
  font-family: Inter;
}
.list{
  margin-left: 21px;
  font-family: Inter;
  font-size: 14px;
  padding: 0px;
  line-height: 150%; 
}
.paragraph-box {
  width:472px;
  font-family: Inter;
  font-size: 14px;
  line-height: 150%;
}
.paragraph1{
  width:472px;
  margin-top:8px;
  font-family: Inter;
  font-size: 14px;
  line-height: 150%;
}
.paragraph{
  width:472px;
  font-family: Inter;
}
.new1 {
  border-top: 2px solid black;
  width:620px;
  margin:auto;
  margin-top: 40px;
}
.mainbutton{
  display: flex;
  justify-content: center;
  align-items: center
}
.button12{
  padding: 39px 273px 49px 273px;
  border-radius: 4px;
  
}
.start-button {
  background-color: #FEEEB4;
  border: solid #F4D150 1px;
  padding: 16px 35px 16px 35px;
  border-radius: 4px;
  font-family: Inter;
}

/* Footer CSS */
.footer{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:171px;
  padding: 46px 0px 68px 0px;
  align-items: center;
  background-color: #4C4B49; 
  color: white; 
}
.footer1{
  font-size: 24px;
}

/*Media query */
@media (max-width: 700px){
  .main-container{
    border:solid red 1px;
    width:100%;
    padding-top: 55px;
    padding-bottom: 80px;
  }
  .header {
    padding: 18px 120px 18px 128px;
  }
  .test {
    width: 184px;
    font-family: Inter;
    font-size: 20px;
  }
  .rulessection{
    width: 320px;
    margin-top: 34px;
  }
  .test1{
    width: 280px;
  }
  .box{
    width:280px;
    text-align: center;
  }
  .main-box{
    width: 280px;
  }
  .main-box1{
    width:278px;
  }
  .paragraph1{
    width: 280px;
  }
  .paragraph-box{
    width:280px;
  }
  .paragraph{
    width:280px;
  }
  .new1{
    width: 280px;
  }
  .button12{
    padding: 39px 80px 56px 80px;
  }
  .footer{
    width:100%;
  }
}

